<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esprit.pixelCells.openstarter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.esprit.pixelCells.openstarter.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.esprit.pixelCells.openstarter.Helpers.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.esprit.pixelCells.openstarter.Helpers.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.esprit.pixelCells.openstarter.Activities.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.esprit.pixelCells.openstarter.Activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent" />
        <activity
            android:name="com.esprit.pixelCells.openstarter.Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true" />
        <activity
            android:name="com.esprit.pixelCells.openstarter.Activities.ProfilActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.esprit.pixelCells.openstarter.Activities.CompleteRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.esprit.pixelCells.openstarter.Activities.MainActivity"
            android:label="Projects"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esprit.pixelCells.openstarter.Activities.ProjectActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_project"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.esprit.pixelCells.openstarter.Activities.IntroductionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.esprit.pixelCells.openstarter.Activities.CreateProjectActivity"
            android:label="New project"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.esprit.pixelCells.openstarter.Activities.EditProfilActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.esprit.pixelCells.openstarter.Activities.GroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.esprit.pixelCells.openstarter.Activities.EditGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!--<activity android:name=".Activities.UploadImageActivity">

        </activity>-->

        <activity
            android:name="com.esprit.pixelCells.openstarter.Activities.ManageMembersActivity"
            android:screenOrientation="portrait"
            android:label="Group Members"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.esprit.pixelCells.openstarter.Activities.PaymentActivity"
            android:screenOrientation="portrait"
            android:label="Donation"/>

        <activity android:name="com.esprit.pixelCells.openstarter.Activities.PaymentDetailsActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>